body { 
    margin: 0; 
    padding: 0; 
    background: gray; 
}

header { 
    background: black;
    margin: 0; 
    padding: 10px; 
}

li { 
    display: inline-block;
    padding: 10px;

}

h1{
    color: rgb(0,255,255); 
    margin: 10px;
    padding: 10px; 
}

section { 
    background: white;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
     

}

section div{ 
    color: gray; 
    margin: 10px;
    display: inline;
}

footer { 
    background: black;
    padding: 20px;


}

footer div { 
    color: white; 
    padding: 10px; 
    display: inline-block; 
    font-size: 20px; 
}

a { 
    text-decoration: none;
    color: white;  
}

a:hover { 
    text-decoration: underline; 
}
